node_modules
.env
.idea
.vscode
.env
.DS_Store
lerna-debug.log
dist
test-dir

# Hardhat files
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/deployments

# Solidity doc gen files
packages/contracts/docs

# Typechain files
packages/contracts/types

# TypeScript cache
*.tsbuildinfo