node_modules
.idea
.vscode
lerna-debug.log
dist
test-dir

# Hardhat files
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/deployments

# Solidity doc gen files
packages/contracts/docs

# TypeScript cache
*.tsbuildinfo