{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "arrowParens": "always",
        "printWidth": 500,
        "endOfLine": "auto"
      }
    },
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "semi": true,
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "arrowParens": "always",
        "printWidth": 500,
        "endOfLine": "auto"
      }
    }
  ]
}
